@model CartVM
@{
    ViewBag.Title = "CartPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    Ödemeniz gereken toplam tutar: $@Model.Cart.TotalPrice siparişi onaylamak için lütfen @Html.ActionLink("tıklayınız", "ConfirmOrder")
</div>

<div class="row product-list">
    @foreach (CartItem item in Model.Cart.Sepetim)
    {
        <div class="col-md-3">
            <section class="panel">
                <div class="pro-img-box">
                    <img src="@item.ImagePath" alt="Resim Yok" title="@item.Name" width="222" height="279" />
                    <a href="@Url.Action("DeleteFromCart", new { id=item.ID})" class="adtocart">
                        <i class="icon-remove"></i>
                    </a>
                </div>

                <div class="panel-body text-center">
                    <h4>
                        <a href="#" class="pro-title" title="@item.Name">
                            @item.Name X @item.Amount
                        </a>
                    </h4>
                    <p class="price">$@item.SubTotal</p>
                </div>
            </section>
        </div>
    }
</div>